<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><%= link_to 'Кошельки', products_path %></li>
      <li><a href="#">Аксессуары</a></li>
      <li><a href="#">Сумки</a></li>
      <li><a href="#modal">Modal</a></li>
      <li><a class="cart">Корзина</a> </li>
    </ul>
  </nav>
</header>
  <section class="main">
    <%= yield %>
  </section>
  <!--<div class="modal">-->
  <!--  modal window-->
  <!--</div>-->
  
  <div class="remodal" data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Remodal</h1>
    <p>
      Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
    </p>
    <br>
    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
    <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
  </div>
  
</body>
</html>
